{% extends 'myapp/base.html'%}

{% block title %}Login{% endblock %}

{% block content %}
  <div style="width: 300px;margin-left:400px; margin-top:100px;">
  <h2>Login</h2>
 <div class="form-group">
  <form method="POST">
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" name="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control">
      </div>
      <br>
    </div>
    </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 450px;">Login</button>
      <a href="{% url 'register' %}" class="btn btn-success" style="margin-left: 10px;">NewUser</a>
      <a href="{% url 'reset_password' %}" class="Forget_pass">Forgot Password</a>
      


 {% endblock %}