{% extends 'myapp/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="rounded" style="width:450px; margin-left:400px; margin-top:20px; padding:5px; border:10px inset #267172;">
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success" style="margin-left:150px;">Register</button>
  </form>
</div>


  <!-- <h2>Register</h2>
  <div class="form-group">
   <form method="POST">
     {% csrf_token %}
       <div class="form-group">
         <label for="exampleInputEmail1">Username</label>
         <input type="text" name="Username" class="form-control">
       </div>
       <br>
       <div class="form-group">
         <label for="exampleInputPassword1">Email</label>
         <input type="email" name="Email" class="form-control">
       </div>
       <br>
       
   <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" name="Password" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input type="password" name="Password Confirm" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Register</button>
</div> -->

{% endblock %}