{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
{% for product in products %}
    <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
  <img src="{{product.imageURL}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>

    <button data-product= "{{product.id}}" data-action="add"  class="btn btn-primary add-btn update-cart">Add To Cart</button>
    <a href="{{ product.imageURL }}" class="btn btn-success">View</a>
      <h4 style="display: inline-block;float:right;">${{product.price|floatformat:2}}</h4>
  </div>
</div>
    </div>
      {% endfor %}
  </div>
</div>
{% endblock %}